.content{
    min-height:90vh;
    margin-top: 10vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#heading{
    font-size: 60px;
    font-weight:bolder;
    margin-top: 8px;
}

#name{
font-size: 40px;
font-weight: bolder;
color:#2a9d8f ;
}