<div class="content">

    <form #categoryForm="ngForm" (ngSubmit)="addSubCategory()">
      <div class="form">
      <div class="form-group">
        <label for="title">Title</label>
        <input 
          type="text" 
          id="title" 
          name="title" 
          [(ngModel)]="subCategory.title" 
          required 
        />
      </div>
      
      <div class="form-group">
        <label for="description">Description</label>
        <textarea 
          id="description" 
          name="description" 
          [(ngModel)]="subCategory.description" 
          required
        ></textarea>
      </div>
      
      <button type="submit" [disabled]="categoryForm.invalid">Add Category</button>
    </div>
    </form>

   
</div>  