<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" mode="over">
        <mat-toolbar class="sidebar-toolbar">
            <p id="side-bar-heading">AptitudeAce </p>  
      </mat-toolbar>
        <mat-nav-list>
            <a  *ngIf="isRoleAdmin" mat-list-item routerLink="/adminHome/admin-profile">
                <div class="nav-links">
                    <mat-icon >account_circle</mat-icon>
                    <p class="nav-links-title">Profile</p>
                </div>
                
            </a>
            <a  *ngIf="!isRoleAdmin" mat-list-item routerLink="/userHome/user-profile">
                <div class="nav-links">
                    <mat-icon >account_circle</mat-icon>
                <p class="nav-links-title">Profile</p>
                </div>
            </a>
            <a  *ngIf="!isRoleAdmin && user" mat-list-item routerLink="/userHome/all-quizzes">
                <div class="nav-links">
                    <mat-icon >quiz</mat-icon>
                    <p class="nav-links-title">All Quizzes</p>
                </div>
            </a>
            <div *ngIf="!isRoleAdmin">
                <a  *ngFor="let c of categories" mat-list-item [routerLink]="'/userHome/quiz/'+c.cid">
                    <div class="nav-links">
                        <mat-icon >category</mat-icon>
                    <p class="nav-links-title">{{c.title}}</p>
                    </div>
                </a>
            </div>
            <a  *ngIf="isRoleAdmin" mat-list-item routerLink="/adminHome/categories">
                <div class="nav-links">
                    <mat-icon >view_list</mat-icon>
                <p class="nav-links-title">View Categories</p>
                </div>
            </a>
            <a  *ngIf="isRoleAdmin" mat-list-item routerLink="/adminHome/addCategories">
                <div class="nav-links">
                    <mat-icon >add_circle_outline</mat-icon>
                <p class="nav-links-title">Add Categories</p>
                </div>
            </a>
            <a  *ngIf="isRoleAdmin" mat-list-item routerLink="/adminHome/quizzes">
                <div class="nav-links">
                    <mat-icon >list_alt</mat-icon>
                <p class="nav-links-title">View Quizzes</p>
                </div>
            </a>
            <a  *ngIf="isRoleAdmin" mat-list-item routerLink="/adminHome/createQuiz">
                <div class="nav-links">
                    <mat-icon >add_box</mat-icon>
                <p class="nav-links-title">Add Quizzes</p>
                </div>
            </a>
            <a id="side-nav-logout" *ngIf="isLoggedIn" mat-list-item (click)="logout()">
                <div class="nav-links">
                    <mat-icon>logout</mat-icon>
                <p class="nav-links-title">Logout</p>
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="navbar">
            <div id="heading-div">
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span id="nav-title" routerLink="/">AptitudeAce</span>
            </div>
            <div class="navlinks">
                <button  class="btn1" *ngIf="!isRoleAdmin"  routerLink="/contact">CONTACT</button>
                <button   class="btn2"  *ngIf="!isLoggedIn" (click)="openHome()">JOIN NOW</button>
                <button  class="btn2"  *ngIf="isLoggedIn" (click)="logout()">LOGOUT</button>
            </div>
        </mat-toolbar>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
